@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;

}
/*  */

*{
    padding: 0;
    margin: 0;
    font-family: Sora;
}
*::selection{
    background-color: #7c7c7c;

}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #cccccc;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px;
  }

 
  

  
  html {
    scrollbar-width: thin;
  }
  
  html::-moz-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px;

  }
  
  
  
